div.lozcomments__pane {
  text-align: left;
}
dt.lozcomment__author,
dd.lozcomment__message {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  font-family: Helmet, Freesans, sans-serif;
  color: #f6f6f6;
  text-align: left;
  text-overflow: ellipsis;
}
dt.lozcomment__author {
  font-weight: bold;
}
dd.lozcomment__message .lozcomment__message-body__link:link {
  color: #ffdc52;
  text-decoration: none;
}
dd.lozcomment__message .lozcomment__message-body__link:visited {
  color: #ffeea8;
  text-decoration: none;
}
dd.lozcomment__message .lozcomment__message-body__link:hover {
  color: #ffcc00;
  text-decoration: none;
}
dd.lozcomment__message .lozcomment__message-body__link:active {
  color: #5275ff;
  text-decoration: none;
}
dd.lozcomment__message .lozcomment__message-body__mention {
  font-weight: bold;
  color: #6b2323;
}
form.lozcomments__form input.lozcomments__form__author,
form.lozcomments__form textarea.lozcomments__form__message,
form.lozcomments__form input.lozcomments__form__submit,
form.lozcomments__form input.lozcomments__form__cancel {
  font-family: Helmet, Freesans, sans-serif;
}
form.lozcomments__form input.lozcomments__form__author,
form.lozcomments__form textarea.lozcomments__form__message {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  color: #787674;
}
form.lozcomments__form input.lozcomments__form__author:focus,
form.lozcomments__form textarea.lozcomments__form__message:focus {
  color: #454545;
}
form.lozcomments__form input.lozcomments__form__submit,
form.lozcomments__form input.lozcomments__form__cancel {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
  font-weight: bold;
}
form.lozcomments__form input.lozcomments__form__submit {
  color: #f1f0f0;
}
form.lozcomments__form input.lozcomments__form__submit:focus,
form.lozcomments__form input.lozcomments__form__submit:hover {
  color: #fff;
}
form.lozcomments__form input.lozcomments__form__cancel {
  color: #787674;
}
form.lozcomments__form input.lozcomments__form__cancel:focus,
form.lozcomments__form input.lozcomments__form__cancel:hover {
  color: #999795;
}
figure.lozcomments__anchor {
  position: absolute;
  display: block;
  margin: -8px 0px 0px -8px;
  margin: -0.8rem 0px 0rem -8px;
}
figure.lozcomments__anchor--is-hidden {
  display: none;
}
[data-notation] > figure.lozcomments__anchor {
  margin-left: 28px;
}
div.lozcomments__wrapper {
  position: absolute;
  display: none;
  z-index: 10;
  max-height: 528px;
  margin: 26px 0px 44px 8px;
  margin: 2.6rem 0px 4.4rem 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.lozcomments__wrapper--is-active {
  display: block;
}
@media (min-width: 40em) {
  div.lozcomments__wrapper {
    width: 272px;
    max-height: 512px;
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
  }
  div.lozcomments__wrapper--is-left {
    margin: 7px 0px 24px -282px;
    margin: 0.7rem 0px 2.4rem -282px;
  }
  [data-notation] > div.lozcomments__wrapper--is-left {
    margin-left: -246px;
  }
  div.lozcomments__wrapper--is-right {
    margin: 7px 0px 24px 26px;
    margin: 0.7rem 0px 2.4rem 26px;
  }
  [data-notation] > div.lozcomments__wrapper--is-right {
    margin-left: 62px;
  }
}
div.lozcomments__pane {
  width: 256px;
  max-height: 512px;
  margin: 16px 0px 0px 0px;
  margin: 1.6rem 0px 0rem 0px;
  padding: 16px 16px 16px 16px;
  padding: 1.6rem 16px 1.6rem 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 40em) {
  .lozcomments__wrapper--is-left div.lozcomments__pane {
    margin: 0px 16px 0px 0px;
    margin: 0rem 16px 0rem 0px;
  }
  .lozcomments__wrapper--is-right div.lozcomments__pane {
    margin: 0px 0px 0px 16px;
    margin: 0rem 0px 0rem 16px;
  }
}
dl.lozcomments__thread {
  max-height: 200px;
  overflow-y: scroll;
  margin: 0px 0px 16px 0px;
  margin: 0rem 0px 1.6rem 0px;
}
dd.lozcomment__message {
  margin: 0px 0px 16px 0px;
  margin: 0rem 0px 1.6rem 0px;
}
dd.lozcomment__message .lozcomment__message-body__mention {
  margin: 0px 2px 0px 2px;
  margin: 0rem 2px 0rem 2px;
  padding: 1px 3px 1px 1px;
  padding: 0.1rem 3px 0.1rem 1px;
  border-radius: 2px;
}
form.lozcomments__form input.lozcomments__form__author,
form.lozcomments__form textarea.lozcomments__form__message {
  width: 100%;
  margin: 0px 0px 8px 0px;
  margin: 0rem 0px 0.8rem 0px;
  padding: 3px 3px 3px 3px;
  padding: 0.3rem 3px 0.3rem 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form.lozcomments__form input.lozcomments__form__author:focus,
form.lozcomments__form textarea.lozcomments__form__message:focus {
  padding: 3px 3px 3px 3px;
  padding: 0.3rem 3px 0.3rem 3px;
}
form.lozcomments__form input.lozcomments__form__submit,
form.lozcomments__form input.lozcomments__form__cancel {
  display: inline-block;
  width: 104px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form.lozcomments__form input.lozcomments__form__submit:active,
form.lozcomments__form input.lozcomments__form__cancel:active {
  position: relative;
  top: 1px;
}
form.lozcomments__form input.lozcomments__form__submit {
  padding: 8px 16px 8px 16px;
  padding: 0.8rem 16px 0.8rem 16px;
  margin: 0px 16px 0px 0px;
  margin: 0rem 16px 0rem 0px;
}
form.lozcomments__form input.lozcomments__form__cancel {
  padding: 7px 16px 7px 16px;
  padding: 0.7rem 16px 0.7rem 16px;
  margin: 0;
}
figure.lozcomments__anchor {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
  background: #6b2323;
  border-radius: 16px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  -webkit-transition: background .15s ease;
  -moz-transition: background .15s ease;
  -ms-transition: background .15s ease;
  transition: background .15s ease;
}
figure.lozcomments__anchor a:link,
figure.lozcomments__anchor a:visited,
figure.lozcomments__anchor a:hover {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  background: url('../img/lozcomments__icon.png') center 9px no-repeat;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
figure.lozcomments__anchor--is-selected {
  background-color: #236b6b;
}
div.lozcomments__wrapper {
  background: url('../img/lozcomments__arrow--top.png') left top no-repeat;
}
[data-notation] > div.lozcomments__wrapper {
  background-position: 36px 0;
}
@media (min-width: 40em) {
  div.lozcomments__wrapper--is-left,
  [data-notation] div.lozcomments__wrapper--is-left {
    background: url('../img/lozcomments__arrow--right.png') right top no-repeat;
  }
  div.lozcomments__wrapper--is-right,
  [data-notation] div.lozcomments__wrapper--is-right {
    background: url('../img/lozcomments__arrow--left.png') left top no-repeat;
  }
}
div.lozcomments__pane {
  background: rgba(0, 0, 0, 0.89);
  border-radius: 1px;
}
dl.lozcomments__thread {
  border-bottom: 1px solid #333;
}
form.lozcomments__form input.lozcomments__form__author,
form.lozcomments__form textarea.lozcomments__form__message,
form.lozcomments__form input.lozcomments__form__submit,
form.lozcomments__form input.lozcomments__form__cancel {
  -webkit-appearance: none;
  border-radius: 1px;
}
form.lozcomments__form input.lozcomments__form__author:focus,
form.lozcomments__form textarea.lozcomments__form__message:focus,
form.lozcomments__form input.lozcomments__form__submit:focus,
form.lozcomments__form input.lozcomments__form__cancel:focus {
  outline: none;
}
form.lozcomments__form input.lozcomments__form__author,
form.lozcomments__form textarea.lozcomments__form__message {
  border: 1px solid #787674;
}
form.lozcomments__form input.lozcomments__form__author:focus,
form.lozcomments__form textarea.lozcomments__form__message:focus,
form.lozcomments__form input.lozcomments__form__author:hover,
form.lozcomments__form textarea.lozcomments__form__message:hover {
  border: 1px solid #ffdc52;
}
form.lozcomments__form input.lozcomments__form__author:focus,
form.lozcomments__form textarea.lozcomments__form__message:focus {
  box-shadow: 0 0 5px rgba(255, 220, 82, 0.84);
}
form.lozcomments__form input.lozcomments__form__author--has-error,
form.lozcomments__form textarea.lozcomments__form__message--has-error,
form.lozcomments__form input.lozcomments__form__author--has-error:focus,
form.lozcomments__form textarea.lozcomments__form__message--has-error:focus,
form.lozcomments__form input.lozcomments__form__author--has-error:hover,
form.lozcomments__form textarea.lozcomments__form__message--has-error:hover {
  border: 1px solid #c00;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);
}
form.lozcomments__form input.lozcomments__form__submit,
form.lozcomments__form input.lozcomments__form__cancel {
  cursor: pointer;
}
form.lozcomments__form textarea.lozcomments__form__messsage {
  resize: vertical;
}
form.lozcomments__form input.lozcomments__form__submit {
  background: #6b2323;
  border: none;
}
form.lozcomments__form input.lozcomments__form__submit:focus,
form.lozcomments__form input.lozcomments__form__submit:hover {
  background: #913030;
}
form.lozcomments__form input.lozcomments__form__cancel {
  background: none;
  border: 1px solid #363534;
}
form.lozcomments__form input.lozcomments__form__cancel:focus,
form.lozcomments__form input.lozcomments__form__cancel:hover {
  border-color: #787674;
}
dd.lozcomment__message {
  overflow-x: hidden;
}
dd.lozcomment__message .lozcomment__message-body__mention {
  background: #ffdc52;
}
